.custom-border {
  border: 3px solid var(--header-outline);
  border-radius: 12px;
}

.logo {
  height: 90px;
  width: auto;
}

@media (max-width: 375px) {
  .custom-border {
    border-radius: 8px;
  }

  .logo {
    height: 55px;
    margin: 10px;
  }
}