<div class="container d-flex align-items-center justify-content-center py-4 m-auto">
  <div class="row flex-grow-1 justify-content-center">
    <div class="col-12 p-0">
      <div class="m-auto text-light tablero position-relative">
        <img class="img-fluid w-100 m-auto" src="../../../assets/images/bg-pentagon.svg" alt="background">
        <ng-container *ngFor="let hand of hands">
          <button (click)="setPlayerHand(hand)" [attr.aria-label]="'Select ' + hand.id" [id]="hand.id" class="ficha-container position-absolute p-0 border-0 rounded-circle overflow-hidden">
            <app-hand [hand]="hand"></app-hand>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
