<div class="container-fluid min-vh-100 p-4 d-flex flex-column justify-content-between overflow-hidden">

  <div class="row justify-content-center m-0 p-0">
    <div class="col-sm-10 col-md-8 col-lg-7 col-xl-5 p-0 d-flex">
      <div class="d-flex flex-column justify-content-between flex-grow-1">
        <app-header></app-header>
      </div>
    </div>
  </div>

  <ng-container *ngIf="(comparisonScreen | async); else board">
    <div class="row justify-content-center m-0 p-0 flex-grow-1">
      <div class="col-sm-12 col-md-10 col-lg-9 col-xl-7 p-0 d-flex">
        <div class="d-flex flex-column justify-content-between flex-grow-1">
          <app-results></app-results>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #board>
    <div class="row justify-content-center m-0 p-0 flex-grow-1">
      <div class="col-sm-10 col-md-8 col-lg-6 p-0 d-flex">
        <div class="d-flex flex-column justify-content-between flex-grow-1">
          <app-board></app-board>
        </div>
      </div>
    </div>
  </ng-template>

  <footer class="footer d-flex align-items-center">
    <button class="bg-transparent border-0 p-0 m-0">
      <a class="decoration-none text-white" href="https://github.com/fedev95" target="_blank">
        <i class="fa-brands fa-github fa-2x"></i>
      </a>
    </button>
    <app-rules-modal></app-rules-modal>
  </footer>

</div>