.rules-button-container {
  display: flex;
  justify-content: flex-end;
}

.btn-rules {
  background-color: transparent;
  border: 2px solid var(--header-outline);
}

.btn-rules:hover {
  border: 2px solid var(--white);
  background-color: var(--white);
  color: var(--dark-text);
}

.close-rules-btn {
  width: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2);
  grid-template-rows: repeat(2);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "area1 area2"
    "area3 area3";
}

.grid-1 {
  grid-area: area1;
}

.grid-2 {
  grid-area: area2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-3 {
  grid-area: area3;
  display: flex;
  align-items: center;
}

.grid-3 > img {
  width: 100%;
}

@media (max-width: 375px) {
  .rules-button-container {
    display: flex;
    justify-content: center;
  }
  .modal-dialog {
    margin: 0;
  }

  .modal-content {
    min-height: 100vh;
  }

  .grid-container {
    height: 100%;
    grid-template-columns: 1;
    grid-template-rows: repeat(8);
    grid-template-areas:
      "area1"
      "area1"
      "area3"
      "area3"
      "area3"
      "area3"
      "area2"
      "area2";
  }

  .grid-1 {
    display: flex;
    justify-content: center;
    display: flex;
    align-items: flex-end;
  }
  .grid-2 {
    align-items: start;
    justify-content: center;
  }

}